$grid-width: 114rem;
$gutter-vertical: 3.6rem;

$gutter-vertical-small: 6rem;
$gutter-horizontal: 4.8rem;



//COLORS
$background-primary: #262626;
$background-secondary: #FFF;

$text-primary: #FFF;
$text-secondary: #262626;