.u-margin-top-big{
    margin-top: 6.4rem !important; 
    
    @include respond(phone-large){
        margin-top: 3.6rem !important;
    }
}
.u-margin-top-med{
    margin-top: 3.6rem !important; 
    
    @include respond(phone-large){
        margin-top: 1.6rem !important;
    }
}
.u-margin-top-small{
    margin-top: 1.6rem !important; 
    
    @include respond(phone-large){
        margin-top: 0.8rem !important;
    }
}
.u-align-right{
    position: absolute; 
    right: 0%;
    
    @include respond(phone-large){
        right: unset;
        position: relative;
        text-align: center;
    }
}
.u-margin-bottom-med{
    margin-bottom: 3.6rem !important; 

    &--card{
        @include respond(desktop){
            margin-bottom: 1.6rem !important;
        }
    }
    @include respond(phone-large){
        margin-bottom: 1.2rem !important;
    }
}