.background{
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-image: url('../img/homeimage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.introduction h2, .introduction h5{
    text-align: center;
}
.introduction{
    text-align: left;
}
.introduction h5{
    font-weight: lighter;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);    
}
section{
    padding: 0px 0 5em;
}

.section2{
    margin-top: 160px;
    padding-top: 168px;
}
.message{
    position: relative;
    display: block;
    color: #FFF;
    z-index: 4;
    padding-top: 360px;
    margin: 0 auto;
    text-align:center;
}

.typed-cursor {
    display: none;
}
.introduction{
    padding: 0px 2em 64px;
}

.myRoles{
    padding: 96px 2em 0px 2em;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.jobLists{
    margin: 0 auto;
}
.jobCards{
    border-radius: 25px;
    width:250px;
    height: 300px;
    border: 3.5px solid rgba(255, 255, 255, 0.8);   
    background-color: transparent;
    z-index: 3;
    margin: 0 auto;
    transition: all 1s ease-in-out;

}
.jobCards div{
    text-align: center;
}
.jobCards .jobIcon{
    margin-top: 32px;
    padding: 16px;
    font-size: 96px;
    z-index: 3;
    color: rgba(255, 255, 255, 0.8);
}
.jobCards .jobTitle{
    padding: 16px;
    font-size: 24px;
    z-index: 3;
    color: rgba(255, 255, 255, 0.8);
    transition: all 1s ease-in-out;

}
.jobCards .jobContent .jobDesc p{
    display: none;
    opacity: 0;
    margin-top: -160px;
    color:#FFF;
    z-index:5;
    transition: all 1s ease-in-out;

}

.jobCards:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 1s ease-in-out;
}
.jobCards:hover > .jobContent > .jobIcon, .jobCards:hover > .jobContent > .jobTitle{
    opacity: 0.1;
    transition: all 1s ease-in-out;
}
.jobCards:hover > .jobContent > .jobDesc p{
    opacity: 1;
    display: block;
    z-index: 5;
    margin-top:-200px;
}
.jobSelection{
    text-align: center;
    margin-top: 8px;
}
.jobSelection input{
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.inputContainer .customRadio{
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: #ddd;
    border-radius: 50%;
    margin: 6px;
}
.inputContainer:hover input ~ .customRadio{
    background-color: #c4c4c4;
}
.inputContainer input:checked ~ .customRadio {
    background-color: #FFF;
  }

.section3{
    padding: 64px 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

.section4{
    padding: 128px 0px;
}
.affiliations{
    margin: 0 auto;
    text-align: center;
}
.affiliationList{
    display:inline-block;
}
.affiliationCard{
    border: 2.5px solid #00203FFF;
    width: 200px;
    height: 240px;
    margin: 10px;
    border-radius: 16px;
    display: inline-block;
}
.section5{
    padding: 128px 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
}
.socmed{
    text-align: center;
    margin: 0 auto;
}
.socList{
    display:inline-block;

}
.socList a{
    text-decoration: none;
    margin: 0px 24px;
    font-size: 64px;
    color: rgba(255, 255, 255, 0.8);
}
.socList a:hover{
    color: rgba(255, 255, 255, 1);
}

section p{
    padding: 0em 2em;
}

@media only screen and (max-width: 767px){
    section{
        padding: 8em 0em;
    }
    .section1{
        padding: 0em 0em;
    }
    .myRoles{
        padding: 0px 2em 0px 2em !important;
    }
    .introduction{
        padding: 2em 0em;
    }

}

@media only screen and (max-width: 450px){
    section{
        padding: 4em 0em !important;
    }
    .myRoles{
        padding: 0px 2em 0px 2em !important;
    }

}

.hide_content{
    opacity: 0;
    margin-bottom: -100px !important;
}
.show_content{
    opacity: 1;
    padding-bottom: 100px;
    transition: 2s;
}

.hide_contentleft{
  opacity: 0;
  margin-left:-100px;  
}

.show_contentleft{
    opacity: 1;
    transition: 2s;
}

.hide_contentright{
    opacity: 0;
    margin-right:-100px;
}

.show_contentright{
margin-right: 0px;
    opacity: 1;
    transition: 2s;
}

.show_job{
    opacity: 1;
    margin-top: 0px;
    transition: 2s;
}
.hide_job{
    opacity: 0;
    margin-top: 40px;
    transition: 0s;
}  

.affCont{
    padding: 8px 16px;
    display: block;
    transition: all 0.8s ease-in;
}

.affRole{
    font-size: 12px;
    font-weight: 800;
}

.affDate{
    font-size: 10px;
    opacity: 0.8;
}
.affImg{
    padding: 2em 1em;
    max-height: 128px;
    max-width: 128px;
}
.affImg img{
    height: auto;
    width: 128px;
}
.affTxt{
    margin-top: 36px;
}

.affiliationCard:hover > .affCont{
    opacity: 0;
    
    transition: all 0.8s ease-in;
}
.affiliationCard:hover{
    transition: all 0.8s ease-in;
    background-color: #00203FFF;
    color: #FFF;
}
.affHid{
    opacity: 0;
    position: absolute;
    padding: 1em;
    margin-top: -256px;
    transition: all 0.8s ease-in;
    height: inherit;
    width: inherit;
    color: #FFF;
}
.affFName{
    margin-top: 16px;
    font-weight: 700;
    font-size: 14px;
}
.affiliationCard:hover > .affHid{
    opacity: 1;
    transition: all 0.8s ease-in;
}
